@charset "UTF-08";

:root {
    --font1: 'Montserrat', sans-serif;
    --font2: 'Ysabeau Infant', sans-serif;

    /*
    -----CORES --------
        #ffdf00
        #009c3b
        #0200006e
        #fff
        #000000
        #000000cc
    */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font2);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.secao-banner {
    position: relative;
}

video {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover; /*controla como imagens ou vídeos se ajustam ao seu contêiner, redimensionando-os para preencher o espaço sem distorção*/
}

.container-info {
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.perfil h1, h2{
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 1px #000;
    position: relative;
}

.imagem-perfil {
    width: 215px;
    height: 215px;
    background-image: linear-gradient(to right, #ffdf00, #009c3b);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.imagem-perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1::before {
    content: "";
    background-image: linear-gradient(90deg, #ffdf00, #009c3b);
    width: 40px;
    height: 5px;
    position: absolute;
    bottom: 0px;
    left: 24px;
}

.container-links {
    width: 100%;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.container-links a {
    background-color: #0200006e;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
}

.container-links a:hover {
    background-color: #fff;
    color: #000;
}

.container-links img {
    width: 20px;
    position: absolute;
    left: 0;
    margin-left: 5px;
}

.secao-estatisticas {
    font-family: var(--font1);
    background-image: url(imagens/imagem-de-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.secao-estatisticas h2 {
    font-size: 2em;
}

table {
    font-weight: bold;
}

th, td {
    padding: 20px;
}

table img {
    width: 30px;
}

td:first-of-type {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

tbody tr:nth-child(even), thead th {  /*LINHAS PARES*/
    background-color: #00000094;
    color: #fff;
}

tbody tr:nth-child(odd) { /*LINHAS IMPARES*/
    background-color: #ffffffbd;
    color: #000;
}
