@charset "UTF-08";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container-topo {
    background-color: white;
    padding: 35px 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-logo{
    width: 285px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-links {
    max-width: 375px;
}

.container-links a {
    font-weight: 600;
    text-decoration: none;
    color: #233032;
}

.container-logo-imagem {
    width: 100%;
    height: 80px;
}

.container-logo-imagem img {
    width: 100%;
    height: 100%;
}

.container-logo p {
    font-size: 12px;
    font-weight: 600;
    color: #2f86f6;
}