@charset "UTF-08";

:root {
    --font:'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

header {
    width: 100vw;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;

}

.topo {
    margin: auto;
    max-width: 1024px;;
    padding: 20px 10px;
    display: flex;
    justify-content: end;
}

.logo a{
    font-size: 1.4em;
    color: black;
}

.logo span{
    color: blue;
}

.link-topo {
    display: flex;
    gap: 10px;
}

.link-topo a{
    text-decoration: none;
}

/*CONTEUDO*/

.conteudo {
    width: 100%;
    margin: auto;
}

.container-banner {
    height: 100vh;
    background-image: url(img/img-fundo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-banner {
    min-height: 200px;
    padding: 20px 0;
    background-color: #6cc099bd;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.699);
    text-align: center;
    color: white;
    border-radius: 8px;
}

.card-banner h1 {
    font-size: 3.5em;
}
.card-banner p {
    font-size: 1.8em;
    padding: 0 20px;
}

/*SEÇÃO*/

.secao {
    min-height: 60vh;
    margin: auto;
    max-width: 1024px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #141616;
}

.texto-secao {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.texto-secao h2 {
    font-size: 2.5em;
    padding: 20px;
}

.container-quartos {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    flex-grow: 1 1 300px;
    gap: 20px;
}

.card-quartos {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.card-quartos a {
    font-size: 1.2em;
    width: 100%;
    padding: 20px 0;
    text-decoration: none;
    border-bottom: 3px solid #6cc099bd;
    color: black;
}

.card-quartos img {
    max-width: 300px;
}

.mapa {
    display: flex;
}

iframe {
    height: 40vh;
    width: 98vw;
}

/*SECAO SOBRE*/

.container-cards {
    margin: auto;
    max-width: 1024px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.card-sobre {
    margin: auto;
    max-width: 472px;
    width: 100%;
    gap: 20px;
    display: flex;
    text-align: left;
    padding: 20px;
}

.card-sobre-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-sobre-texto {
    width: 100%;
}

.card-sobre-texto h3 {
    padding-bottom: 25px;
}

.card-sobre img {
    max-width: 100px;
    height: 130px;
}

/*RODAPÉ*/

footer {
    width: 100%;
    background-color: #49997C;
    color: white;
    
    
}

footer p {
    text-align: center;
    font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    padding: 20px 0;
}

.rodape {
  max-width: 1024px;
  margin: auto;
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

.link-rodape {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    text-align: left;
    max-width: 100%;
}

h5 {
    font-size: 1.5em;
    max-width: 200px;
}
