@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --cor1: #fff;
    --cor2: #f1f3f7;
    --cor3: #f6f6f6;
    --cor4: #a8a4a4;
    --cor5: #233032;
    --cor7: #2f86d6;
    --cor8: #000000;
    --cor9: rgba(47, 134, 214, 1);

    --font: 'Poppins', sans-serif;
}

body {
    margin: auto;
    width: 100%;
}


/*CABEÇALHO*/

header {
    width: 100%;
    background-color: var(--cor1);
    padding: 35px 0px;
}

header .topo {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

/*LOGO*/
.logo {
    display: flex;
}

.logo img{
    width: 100px;
}

.logo .texto-logo {
    padding-left: 10px;
}

.logo .texto-logo h1{
    font-size: 32px;
}

.logo .texto-logo p {
    font-size: 16px;
    color: var(--cor7);
}
/*FIM LOGO*/

/*NAVEGAÇÃO*/
nav a{
    font-size: 18px;
    color: var(--cor5);
    text-decoration: none;
    padding: 0 10px;
}

/*SEÇÃO BANNER*/
.conteiner-banner {
    width: 100%;
    background-color: var(--cor7);
}

.secao-banner {
    background-color: var(--cor7);
    width: 1024px;
    padding: 180px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secao-banner img {
    width: 50%;
}

.texto-banner {
    max-width: 470px;
}

.texto-banner p{
    font-size: 16px;
    color: var(--cor1);
    margin: 20px 0px;
}

.texto-banner h2 {
    font-size: 28px;
    color: var(--cor1);
}
/*FIM SEÇÃO BANNER*/

/*ANÚNCIO - anuncio 1*/
.conteiner-anuncio {
    width: 100%;
    padding: 40px 0px;
    background-color: var(--cor5);
    display: flex;
    justify-content: center;
}

.conteiner-anuncio .anuncio {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.anuncio .texto-anuncio {
    width: 600px;
    color: var(--cor1);
}

.texto-anuncio h3 {
    font-size: 24px;
}

.texto-anuncio p {
    font-size: 16px;
}

.anuncio a{
    background-color: var(--cor7);
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 20px;
}

.anuncio a img {
    margin-right: 5px;
}
/*Fim anúncio 1*/
/*Ínício anúncio 2*/
#conteiner-anuncio-2 {
    background-color: var(--cor7);
}

#anuncio-2 a{
    background-color: var(--cor5);
}
/*Fim anúncio 2*/
/*FIM ANÚNCIO*/

/*INFORMAÇÕES*/
.conteiner-informacoes {
    width: 100%;
    display: flex;
    justify-content: center;
}

.informacoes {
    padding: 100px 0px;
}

.informacoes h4 {
    width: 900px;
    font-size: 32px;
    color: var(--cor8);
    padding-bottom: 60px;
    text-align: center;
}

.informacoes h4 span, .planos h4 span {
    color: var(--cor7);
}

/*CARDS*/
.conteiner-cards {
    background-color: var(--cor1);
    width: 1024px;
    display: flex;
}

.card {
    width: 33%;
    text-align: center;
    padding: 1px;
}

.card img {
    width: 33%;
}

.card h5 {
    font-size: 18px;
    color: var(--cor8);
    margin: 15px 0;
}

.card p {
    font-size: 16px;
    color: var(--cor8);
}
/*FIM CARDS*/
/*INÍCIO SEÇÃO PLANOS*/
.conteiner-planos {
    width: 100%;
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
}

.planos {
    width: 1024px;
    padding: 100px 0px;
}

.planos h4 {
    font-size: 32px;
    color: var(--cor8);
    text-align: center;
    margin-bottom: 80px;
}

/*Tabela*/
.planos table {
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 70px var(--cor7);
    border-radius: 5px;
    padding: 20px 5px;
}

table tr img {
    width: 50%;
}

table tr td {
    padding: 10px 0;
}

table tr td p {
    font-size: small;
    color: var(--cor4);
    max-width: 50%;
    margin: auto;
}

th {
    font-size: 18px;
    color: var(--cor8);
}

.linha-impar {
    font-size: 16px;
    background-color: var(--cor3);
}

.linha-par {
    background-color: var(--cor2);
    font-size: 16px;
}
/*FIM TABELA*/
/*FIM SEÇÃO PLANOS*/
/*INÍCIO RODAPÉ*/
footer {
    width: 100%;
    margin: auto;
}

.conteiner-rodape {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}

.conteiner-rodape .rodape {
    display: flex;
    justify-content: center;
}

.contato {
    max-width: 1024px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    padding-bottom: 40px;
}

.contato p {
    font-size: 16px;
    color: var(--cor8);
    margin: 0px auto 20px auto;
}

.contato p a {
    text-decoration: none;
    color: var(--cor8);
}

#credito-footer {
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;
}

#credito-footer span {
    color: var(--cor7);
}