@charset "UTF-08";

:root {
    --cor1: #00CAD1;
    --cor2: #fff;
    --cor3: #0000008c;
}

@media (max-width: 425px) {
    .logo, .links-topo {
        margin: auto;
        text-align: center;
    }
    .logo img {
        width: calc(100% / 4);
    }

    .links-topo {
        max-width: 100%;
        border-top: 1px solid var(--cor3);
    }

    .banner h1 {font-size: 2.2em;}
    .banner p {font-size: 1.6em;}


    .topo a, .navegacao-especialidades{
        font-size: 24px;
    }

    .container-lista img {
        display: none;
    }

    .tabela img {
        display: none;
    }
}

@media (max-width: 768px) {

    .logo, .links-topo {
        text-align: center;
    }

    .logo img{
        width: calc(100% / 2);
    }

    .topo a, .navegacao-especialidades {
        font-size: 18px;
    }

    .secao .container-lista img {
        width: 100%;
    }

    .tabela img {
        display: none;
    }

    table {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .logo, .links-topo {
        margin: auto;
    }
    .logo img { width: calc(100% / 2); }
    h1 { font-size: 3em; }
    }

/*

    @media (max-width: 1024px) {
    img { width: calc( 100% / 8 ); }
    h1 { font-size: 32px; }
    p { margin-top: 10px; }
    }

    @media (max-width: 768px) {
    img { width: calc( 100% / 4 ); }
    h1 { font-size: 22px; }
    }

    @media (max-width: 425px) {
    img { width: calc( 100% / 2 ); }
    h1 { font-size: 18px; }
    }

*/